@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@700&display=swap');
$font_header: 'League Spartan', sans-serif;
$font_paragraph: 'Inter', sans-serif;

#grab {
  font-family: $font_header;
  color: black;
  text-align: center;
  text-decoration: underline;
}