@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@700&display=swap');
$font_header: 'League Spartan', sans-serif;
$font_paragraph: 'Inter', sans-serif;
@import 'swiper/css';
@import 'bootstrap/dist/css/bootstrap.min.css';

@mixin header {
  color: black;
  font: {
    family: $font_header;
    size: 56px;
  }
}



html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  #root {
    height: 100%;
    .App {
      height: 100%;
    }
  }
}

.navbar {
  padding: 0% 3%;
  .sec_1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav_links {
      margin: 0 2%;
    }
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-top: 5%;
  img {
    box-shadow: 5px 5px 5px rgba(101, 101, 101, 0.274);
    height: 250px;
  }
  .title {
    margin-top: 1rem;
    text-align: center;
  }
}

.book-display {
  display: flex;
  flex-direction: column;
  .head {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #DD5400;
  }
  .search {
    width: 40%;
    margin-right: 5%;
    .button {
      margin-top: 3%;
      width: 150px;
      height: 40px;
      background-color: white;
      color: #0dcaf0;
      border: {
        color: #0dcaf0;
        width: 2px;
      }
      font-weight: bold;
      margin: 0;
    }

    .filter {
      width:500px;
      .form-check-label {
      color:white;
      }
    }

    .btn, .btn-primary {
      border: {
        color: #0dcaf0;
        width: 2px;
      }
    }
    
    .button:hover {
      background-color: #421900;
    }
  }
  #grab {
    font-family: $font_header;
    color: white;
    margin: 0 0 0 5%;
  }
}

.books_home {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}

.books_grab {
  margin: 5% 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  color: black;
  font: {
    family: $font_header;
    size: 56px;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: 5%;
  .section_1 {
    width: 50%;
    margin: 8% 5% 0 5%;
    color: black;
    .header {
      color: black;
      font: {
        family: $font_header;
        size: 56px;
      }
    }
    p {
      font: {
        family: $font_paragraph;
      }
    }
    img {
      width: 50%;
      height: 100px;
      object-fit: cover;
    }
  }
  .section_2 {
    width: 50%;
    margin: 5% 0 0 0;
    padding-left: 10%;
    img {
      height: 350px;
    }
    overflow: hidden;
    .swiper-wrapper { 
      padding-left: 25%;
    }
  }
}

.swiper-slide-shadow {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #DC5603;
  .header {
    color: white;
    align-self: center;
    margin-top: 5%;
    font-size: 52px;
  }
  p {
    color: white;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3% 0;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 30%;
      .white_back {
        height: 230px;
        width: 230px;
        background-color: #F6F6F6;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 170px;
          height: 170px;
        }
      }
      .subheader {
        color: white;
        margin-top: 3%;
        font: {
          family: $font_header;
          size: 32px;
        }
      }
    }
  }
}



.add-a-book {
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: row;
  .book-form {
    width: 45%;
    h2 {
      margin: 5% 0;
      font: {
        family: $font_header;
        weight: bold;
      }
    }
    label {
      font: {
        family: $font_paragraph;
      }
    }
    .button {
      margin-top: 3%;
      width: 150px;
      height: 40px;
      border: 0;
      background-color: #DD5400;
      color: white;
      font-weight: bold;
    
    }
    
    .button:hover {
      background-color: #421900;
    }
  
    .isbn-error {
      color: rgb(202, 0, 0);
    }
  }

  .book-image {
    width: 45%;
    margin: 5%;
    img {
      width: 70%;
      height: auto;
    }
  }
}