.book-list {
  margin: 10px;
  img {
    height: 250px;
  }
}

.book-display {
  width: 75%;
  margin: auto;
  min-width: 350px;
  margin-top: 3em;
  #grab {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
}

.books {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  border: 1px solid black;
}