@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@700&display=swap');
$font_header: 'League Spartan', sans-serif;
$font_paragraph: 'Inter', sans-serif;

.book_wrapper {
  min-width: 350px;
  margin: 5% 2%;
  display: flex;
  justify-content: space-around;

  .section_1 {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      box-shadow: 5px 5px 5px rgba(101, 101, 101, 0.174);
    }

    
  }

  .section_2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 5%;
    p {
      margin: 0;
    }
    #title {
      margin: 0;
      line-height: 2.5rem;
      font: {
        family: $font_header;
        size: 2.5rem;
      }
    }
    .author {
      color: grey;
    }

    .button {
      margin-top: 3%;
      width: 150px;
      height: 40px;
      border: 0;
      background-color: #DD5400;
      color: white;
      font-weight: bold;
    
    }
    
    .button:hover {
      background-color: #421900;
    }

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .inner_2 {
        margin-top: 5%;
      }
    }

    .status-info {
      margin:20px 0px;
    }

    .available {
      color: rgb(255, 255, 255);
      font-size: 100%;
      background-color: #009a24aa;
      padding:5px;
      border-radius: 5px;
    }

    .unavailable {
      color: rgb(255, 255, 255);
      font-size: 100%;
      background-color: #DD5400aa;
      padding:5px;
      border-radius: 5px;
    }

    .request {
      color: rgb(255, 255, 255);
      font-size: 100%;
      background-color: #067800aa;
      padding:5px;
      border-radius: 5px;
    }  

    .in-my-possession {
      color: rgb(255, 255, 255);
      font-size: 100%;
      background-color: #0284c5aa;
      padding:5px;
      border-radius: 5px;
    }  

    .requested-of-me {
      color: rgb(231, 0, 0);
      font-size: 100%;
      background-color: #fff200dd;
      padding:5px;
      border-radius: 5px;
    }  

  }
}

.bold {
  font-weight: bold;
}



.in-possession {
  color: green;
  font-weight: bold;
  padding-top: 2em;
}

@media only screen and (max-width: 1100px) {
  .section_1 {
    img {
      width: 300px;
      max-height: 350px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .book_wrapper {
    flex-direction: column;
    .section_1 {
      width: 85%;
      margin: auto;
      img {
        width: 170px;
        max-height: 200px;
      }
    }
    .section_2 {
      width: 80%;
      margin: 10% auto;
      #title {
        font-size: 2em;
      }
      .inner {
        flex-direction: column;
      }
    }
  }
}