footer  {
  height: 52px;
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.footer-text {
  color: rgba(255,255,255,.55);
  padding-top: 0.75em;
  padding-right: 1.5em;
}

@media only screen and (max-width: 450px) {
  footer  {
    .container-fluid {
      height: 100px;
    }
  }
}