@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@700&display=swap');
$font_header: 'League Spartan', sans-serif;
$font_paragraph: 'Inter', sans-serif;

body {
  height: 100vh;
  position: relative;
  #root {
    height: 100%;
    .App {
      height: 100%;
    }
  }
}

.navbar {
  padding: 0% 3%;
  .sec_1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav_links {
      margin: 0 2%;
    }
  }
}


.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  img {
    height: 250px;
  }
  .title {
    margin-top: 1rem;
    text-align: center;
  }
}

.book-display {
  margin-top: 3em;
  #grab {
    font-family: $font_header;
    color: black;
    text-align: center;
    text-decoration: underline;
  }
}


.book-display {
  margin-top: 3em;
  #grab {
    font-family: $font_header;
    color: black;
    text-align: center;
    text-decoration: underline;
  }
}

.books_home {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}

.books_grab {
  margin: 2% 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search {
  width: 40%;
  margin: auto;
}