.request-container {
  width: 85%;
  margin: auto;
  margin-bottom: 3em;

  .request-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  table {
    width: 100%;
    td, th {
      width: 25%;
    }
  }
}
