.user-container {
  width: 40%;
  margin: auto;
  min-width: 350px;
  margin-top: 3em;

  .user-header {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .user-details {
    display: flex;
    justify-content: space-between;
  }
}